
<br>
<br>
<div class= "container">
  <div class= "row">
    <div class= "col-md-3"></div>
    <div class= "col-md-6">

        <mat-card>
            <mat-card-content >
              <h2 class="example-h2">LIBRARY LOGIN</h2>
              <mat-tab-group class="demo-tab-group">
                <mat-tab label="USER">
                  <div class="demo-tab-content">
                      <form>
                          <div class="form-group">
                            <label for="usr">Name:</label>
                            <input type="text" class="form-control" id="usr">
                          </div>
                          <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">
                          </div>
                        </form>
                        <button mat-raised-button color="accent">Login</button>
                  </div>
                </mat-tab>
                <mat-tab label="ADMIN">
                  <div class="demo-tab-content">
                      <form>
                          <div class="form-group">
                            <label for="usr">Name:</label>
                            <input type="text" class="form-control" id="usr">
                          </div>
                          <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">
                          </div>
                        </form>
                        <button mat-raised-button color="accent">Login</button>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>
    </div>
    <div class= "col-md-3"></div>
  </div>

</div>

